<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editpost</title>
</head>
<body>
    <p>Edit Your post</p>
    <p>post id :<%= post.id %></p>
    <p>post username:<%= post.username %></p>
    <form >
        <textarea ><%= post.post %></textarea>
        <button>Submit</button>
    </form>

</form>
    <p></p>
</body>
</html>