<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css"> <!-- Corrected path -->
</head>
<body>
    <h2>Here is Your Post in detail</h2>
    <a href="/posts">Back to Home</a>
    <% if (post) { %>
        <p>Post id : <%= post.id %></p>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4><%= post.post %></h4>
        </div>
    <% } else { %>
        <h3>Post not found!</h3>
    <% } %>
</body>
 </html>
